---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<hr>
<!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=n&d=W25Fdb-NQUH1UObkKuunx_1va-9MG_ZujLrO3eIij5c'></script> -->

<div style="display: flex; justify-content: center; width: 100%;">
  <script id="_waui2m">
    var _wau = _wau || [];
    _wau.push([
      "map",
      "8jlnp8n7zj",
      "i2m",
      "274",
      "137",
      "natural",
      "default-orange"
    ]);
  </script>
  <script async src="https://waust.at/m.js"></script>
</div>